@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}
header{
    background: linear-gradient(to bottom left, #E71F4D, white);
    width: 100%;
    height: 100%;
}
.div_logocake{
    background: #E71F4D;
    width: 47px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logocake_text{
    font-weight: 900;
    white-space: nowrap;
}
.home{
    text-decoration: underline;
    font-weight: 900;
}
.header_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 20px;
    font-size: 16px;
    list-style-type: none;
}

.header_nav{

    width: 1170px;
    height: 46px;

}
.header_yummy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 250px;
}

.hits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1119px;
    height: 291px;
    color: #E71F4D;
    font-weight: 900;
    padding-left: 145px;
}

.yummy{
    margin-left: 50px;
}
.button_choose{
    background: linear-gradient(#E71F4D, #F86486);
    color: white;
    font-family: "Montserrat", sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 5px 50px #E71F4D;
}
.button_left{
    background: #E71F4D;
    border: none;
    outline: none;
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0px 5px 30px #E71F4D;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button_right {
    background: #E71F4D;
    border: none;
    outline: none;
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0px 5px 30px #E71F4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_right{
    transform: rotate(180deg);
}

.bigcake{
    width: 414px;
    height: 414px;
}

.div_cake{
    width: 231px;
    height: 209px;
    background-color: #FFDFE7;
    text-decoration: underline;
    border-radius: 20px;
}
.img_cake{
    width: 148px;
    height: 118px;

}
.basket{
    width: 46px;
    height: 46px;
    border: none;
    background-color: #E71F4D;
    border-radius: 20px;

}



