:root {
    --E71F4D:#E71F4D;
    --F86486:#F86486;
    --935f67:#935f67;
    --d1788e:#d1788e;
    --FFDFE7:#FFDFE7;
    --b894a2:#b894a2;
    --F4B4C3:#f3a9b7;
    --F37C98:#F37C98;
    --ca7987: #8a4753;
    --white:white;
    --none: none;
}