:root {
    --black: #000000;
    --850924: #bd0031;
    --E71F4D: #d80e3f;
    --F86486: #f85779;
    --935f67:#935f67;
    --d1788e:#d1788e;
    --FFDFE7:#FFDFE7;
    --FFC2D0:#FFC2D0;
    --b894a2:#b894a2;
    --F4B4C3: #ffadc6;
    --F37C98:#F37C98;
    --ca7987: #8a4753;
    --white:white;
    --none: none;
}